html 
    head 
        title All Events 
    body
        h1 All Events
        ul  
            each event in events
                a(href="/event/" + event.id)= event.name
                a(href="/event/" + event.id + "/delete")   Delete
                br
