html 
    head 
        title People
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js") 
    body 
        div(class="container")
            h1 Event Links
            div(class="row")
                div(class="col-sm-4")
                    table(class="table table-striped") 
                        th People 
                        each person in people 
                            tr 
                                td
                                    a(href="/person/" + person.id)= person.name
                    br
                    a(href="/people" class="btn btn-primary") Edit People
                div(class="col-sm-4")
                    a(href="/event" class="btn btn-primary") Add Link 
                div(class="col-sm-4")
                    table(class="table table-striped") 
                        th Events 
                        each event in superEvents 
                            tr 
                                td
                                    a(href="/superevent/" + event.id)= event.name
                    br
                    a(href="/superevents" class="btn btn-primary") Edit Events


